<html>
<head>
    <title>About the PSEA add-on</title>
    <meta name="decorator" content="main"/>
</head>

<body>

<p>This service enables Excel exports in
    <a href="https://marketplace.atlassian.com/plugins/com.playsql.requirementyogi">Requirement Yogi</a>
    and Play SQL's
    <a href="https://marketplace.atlassian.com/plugins/com.playsql.playsql-plugin">Spreadsheets for Confluence</a>.
</p>

<p>
    Administration of PSEA:
    <a href="${req.contextPath}/admin/plugins/com.playsql.play-sql-export-addon/admin.action">See this page</a>.
</p>

<br>
<h2>License</h2>

<p>The license is visible at <a href="https://docs.requirementyogi.com/legal/eula">https://docs.requirementyogi.com/legal/eula</a>.</p>

<pre>
Lists of 6 third-party dependencies.
     (The Apache Software License, Version 2.0) Commons Codec (commons-codec:commons-codec:1.5 - http://commons.apache.org/codec/)
     (Unknown license) dom4j (dom4j:dom4j:1.6.1 - http://dom4j.org)
     (The Apache Software License, Version 2.0) Apache POI (org.apache.poi:poi:3.8 - http://poi.apache.org/)
     (The Apache Software License, Version 2.0) XmlBeans (org.apache.xmlbeans:xmlbeans:2.3.0 - http://xmlbeans.apache.org)
     (The Apache Software License, Version 2.0) StAX API (stax:stax-api:1.0.1 - http://stax.codehaus.org/)
     (The Apache Software License, Version 2.0) XML Commons External Components XML APIs (xml-apis:xml-apis:1.0.b2 - http://xml.apache.org/commons/#external)
</pre>

</body>
