#if (!$req) #set ($req = $request) #end ## See RY-1323
<html>
<head>
    <title>PSEA Rate-Limiting</title>
    #requireResource("com.playsql.play-sql-export-addon:psea-admin-web")
</head>
<body>
    <content tag="selectedWebItem">marketplace-psea-global-admin-item</content>

    <p>PSEA is the module which allows Requirement Yogi and Play SQL Spreadsheets to read/write Excel files.</p>
    <p>This forms allows you to control the export limits, in case you are hitting memory / CPU issues.</p>

    #parse ( "/template/includes/actionerrors.vm" )

    <form class="aui" method="POST" action="save.action" style="margin-top: 20px;">
        #form_xsrfToken()
        <fieldset>
            <div class="field-group">
                <label for="row-limit">Time limit</label>
                <input class="text" type="text" id="time-limit" name="timeLimit" title="Time limit" value="$!{timeLimit}">
                <div class="description">Limit the duration of an export, in seconds, actual time may be longer. Default is $!{timeLimitDefault}.</div>
            </div>
            <div class="field-group">
                <label for="row-limit">Row limit</label>
                <input class="text" type="text" id="row-limit" name="rowLimit" title="Row limit" value="$!{rowLimit}">
                <div class="description">Limit the maximum number of rows for all exported Excel files. Default is $!{rowLimitDefault}.</div>
            </div>
            <div class="field-group">
                <label for="data-limit">Data limit</label>
                <input class="text" type="text" id="data-limit" name="dataLimit" title="Data limit" value="$!{dataLimit}">
                <div class="description">Size limit (in arbitrary unit) for all exported Excel files, measured before writing the file.
                    See "Size" in the table below for comparison. The actual size of the file in bytes will be an order of magnitude larger.
                    Default is $!{dataLimitDefault}.</div>
            </div>
            <div class="field-group">
                <label for="concurrent-jobs">Concurrent exports</label>
                <input class="text" type="text" id="concurrent-jobs" name="concurrentJobs" title="Concurrent jobs" value="$!{concurrentJobs}">
                <div class="description">Maximum number of concurrent jobs allowed for the export. -1 means unlimited.
                    Default is ${concurrentJobsDefault}.</div>
            </div>
        </fieldset>
        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit" type="submit" value="Save">
                <a class="cancel" href="admin.action">Cancel</a>
            </div>
        </div>
    </form>

    <p>To help you with deciding what limits are correct, here is a list of the most recent exports.</p>

    <table class="aui aui-table-sortable">
        <thead>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>File name</th>
            <th>Status</th>
            <th>Duration</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
            #set ($list = $action.getLastExportList())
            #if ($list.isEmpty())
                <tr>
                    <td colspan="5"><i>No export has been made recently.</i></td>
                </tr>
            #else
                #foreach($item in $list)
                    <tr data-job-id="${item.getId()}">
                        <td>$!{item.getStartDateHuman()}</td>
                        <td>
                            #if ($item.getUserKey())
                                <a href="${req.contextPath}/admin/users/viewuser.action?username=$!{htmlUtil.urlEncode($item.getUsername())}">$!{item.getUserFullName()}</a>
                            #end
                        </td>
                        <td>$!{item.getFilename()}</td>
                        <td>$!{item.getStatus()}</td>
                        <td>$!{item.getDurationHuman()}</td>
                        <td>$!{item.getMessage()}</td>
                        <td class="actions">
                            <a href="#" class="delete-job"><span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span></a>
                        </td>
                    </tr>
                #end
            #end
        </tbody>
    </table>
</body>